$Primary-color1:hsl(180, 66%, 49%);
$Primary-color2:hsl(257, 27%, 26%);
$Secondary-color1:hsl(0, 87%, 67%);
$Neutral-color1:hsl(0, 0%, 85%);
$Neutral-color2:hsl(257, 7%, 63%);
$Neutral-color3:hsl(255, 11%, 22%);
$Neutral-color4:hsl(260, 8%, 14%);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@mixin tranition-ease {
    transition: all 0.5s ease-in-out;}