@import "./for_all.scss";
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);
body{
    width:400,700;
}
header{
    position: sticky;
    top: 1rem;
    display: inline;
    width: 100%;
    padding: 1rem 10rem;
    .picheader2{visibility: hidden;}
    .menu-btn{visibility: hidden;}
    .nav{
        position: relative;
    .menu-nav{
        list-style-type: none;
        .menu-nav_link{
            padding-right: 2.7rem;
            text-decoration: none;
            color: $Neutral-color3;
            font-size: 20px;
        }
    .go_right{
        padding-left: 20rem;
        .menu-nav_link{
        padding-right: 1rem;
    }
        .menu-nav_btn{
            padding: 15px 30px;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color:$Primary-color1;
            border: none;
            border-radius: 30px;
            margin-top: 35px;
        }
    }

    .picheader{
        padding-top: 20px;
        padding-left: 10rem;
        padding-right: 5rem;
    }
}
}
}
.home{
    padding-top: 50px;
.part-one{
    padding-left: 10rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .first_col{
        margin-top: 100px;
        .headp{
            font-size: 70px;
        }
        .supp{
            font-size: 25px;
            width: 480px;
            color: $Neutral-color2;
        }
        .part-one__btn{
            padding: 15px 30px;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color:$Primary-color1;
            border: none;
            border-radius: 30px;
            margin-top: 35px;
        }
    }
}
.part-two{
    margin-left: 10rem;
    background-image: url("../img/bg-shorten-desktop.svg");
    background-color: $Primary-color2;
    position: absolute;
    width: 1100px;
    height: 170px;
    padding: 50px 60px;
    border-radius: 10px;
    margin-top: 70px;

    .shorten{
        font-size: large;
        width: 750px;
        height: 70px;
        padding-left: 30px;
        border-radius: 15px;
    }
    .part-two__btn{
        padding: 20px 30px;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color:$Primary-color1;
        border: none;
        border-radius: 10px;
        margin-left:20px;
    }

}
.part-three{
    padding-left: 10rem;
    padding-bottom: 10rem;
    margin-top:155px ;

    background-color: $Neutral-color1;
    .addch{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .addnew{
        display:inline-flex;
        justify-content: space-between;
        background-color: #fff;
        width: 1100px;
        height: 70px;
        padding: 20px 20px;
        border-radius: 10px;
        position: relative;
        margin-top: 30px;
        .parg1{
            font-size: 20px;
        }
        .parg2{
            font-size: 20px;
            border: none;
            color:$Primary-color1;
        }
        .copy{
        padding: 5px 20px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color:$Primary-color1;
        border: none;
        border-radius: 10px;
        margin-left:10px;
        }
        .copied{
        padding: 5px 20px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color:$Neutral-color3;
        border: none;
        border-radius: 10px;
        margin-left:10px;
        }
    }

    .up_part{
    padding-top:150px ;
    margin-left: 230px;
    margin-bottom: 50px;
    width: 600px;
    text-align: center;
    .headp3{
    font-size: 45px;
    }
    .supp3{
        margin-top: 20px;
        font-size: 25px;
        color: $Neutral-color2;
    }
}
.down_part{
    display: inline-flex;
    justify-content: space-between;

    font-size: 18px;
    .raond_img1{
        background-color: $Neutral-color3;
        position: absolute;
        margin-left:30px;
        margin-top: -10px;
        border-radius: 50%;
        padding:15px 17px;
        height:75px;
        width:75px;
        .pic_box{
            position:relative;
        }
    }
    .box1{
        background-color:white;
        width: 330px;
        height:250px;
        padding:50px 20px;
        margin-top:30px;
        border-radius: 4%;
        text-align:left;
        float:left;
        h4{
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    .raond_img2{
        background-color: $Neutral-color3;
        position: absolute;
        margin-left:460px;
        margin-top: 20px;
        border-radius: 50%;
        padding:17px 17px;
        height:75px;
        width:75px;
        .pic_box{
            position:relative;
        }
    }
    .box2{
        background-color:white;
        width: 330px;
        height:250px;
        padding:50px 20px;
        margin-top:60px;
        border-radius: 4%;
        text-align:left;
        float:left;
        h4{
            font-size: 20px;
            margin-bottom: 15px;
            margin-top: 20px;
        }
    }
    .raond_img3{
        background-color: $Neutral-color3;
        position: absolute;
        margin-left:880px;
        margin-top: 50px;
        border-radius: 50%;
        padding:13px 13px;
        height:75px;
        width:75px;
        .pic_box{
            position:relative;
        }
    }
    .box3{
        background-color:white;
        width: 330px;
        height:250px;
        padding:50px 20px;
        margin-top:90px;
        border-radius: 4%;
        text-align:left;
        float:left;
        h4{
            font-size: 20px;
            margin-bottom: 15px;
            margin-top: 20px;
        }

    }
}
}
.part-four{
    text-align: center;
    height: 250px;
    background-image: url('../img/bg-boost-desktop.svg');
    background-color: $Primary-color2;
h3{
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 45px;
    color: white;
}
.part-four__btn{
    padding: 20px 30px;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:$Primary-color1;
    border: none;
    border-radius: 30px;
    margin-left:20px;
}
}
}
.foo{
    background-color: $Neutral-color4;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color:#fff;
    height: 280px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
        .icon-logo{
            filter: invert(255%) sepia(255%) saturate(255%) hue-rotate(346deg) brightness(255%) contrast(97%);

}

    ul{
        list-style-type:none;
        padding-top: 20px;
        li{
            padding: 10px;
        }
    }

}
@media screen and (max-width: 375px) {
    header{
        display: inline-block;
        padding: 1rem 1rem;
        .picheader2{
            visibility: visible;
            padding: 0px;
            top: 2rem;
        }
    .menu-btn{
        visibility:visible;
        position: absolute;
        top: 2rem;
        z-index: 1;
        margin-left: 19rem;
        height: 30px;
        width: 28px;
        cursor: pointer;
        &__in{
            position: absolute;
            width: 28px;
            height: 3px;
            background: #000;
            &::before{
                content: '';
                position: absolute;
                top:-8px;
                width: 28px;
                height: 3px;
                background-color: #000;
            }
            &::after{
                content: '';
                position: absolute;
                top:8px;
                width: 28px;
                height: 3px;
                background-color: #000;
            }
            &.open{
                transform: rotate(720deg);
                background: transparent;
            }
        }
    }
    .nav{
        visibility: hidden;
        position: absolute;
        top:0;
        left:0;
        width: 100vw;
        opacity: 0.98;
        &.open{
            visibility:visible;
        }
        .menu-nav{
            visibility: hidden;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            display: none;
            margin-top: 5rem;
            height: 55vh;
            overflow: hidden;
            background: $Neutral-color3;
            list-style-type: none;
            padding-right: 1rem;
            transform: translateY(-100%);
            &.open{
                visibility: visible;
                display: block;
                transform: translateY(0);
            }
            &__item{
                transform: translateX(100vw);
                text-align: center;
                &.open{
                    transform: translateX(0);
                }
            }
            .picheader{
                visibility: hidden;
            }

            .menu-nav_link{
                font-weight: bold;
                color: white;
                display: block;
                font-size: 1.5rem;
                padding: 1rem 1rem;
            }
            .go_right{
                padding-left: 0rem;
                padding-right: 0rem;
                .menu-nav_btn{
                    padding: 15px 100px;
                    font-size: 22px;
                    text-align: center;
                    cursor: pointer;
                    outline: none;
                    color: #fff;
                    background-color:$Primary-color1;
                    border: none;
                    border-radius: 30px;
                    margin-top: 0px;
                                }}

        }

    }
}
    .home{
        overflow: hidden;
    .part-one{
        padding-left: 0rem;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .first_col{
            margin-top: 1px;
            order: 2;
            .headp{
                font-size: 50px;
                text-align: center;
            }
            .supp{
                padding-left: 1rem;
                padding-top: 3rem;
                font-size: 20px;
                width:auto;
                color: $Neutral-color2;
                text-align: center;
            }
            .part-one__btn{
                padding: 10px 10px;
                font-size: 35px;
                width: 250px;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color:$Primary-color1;
                border: none;
                border-radius: 30px;
                margin-top: 20px;
                margin-left: 4rem;
                margin-bottom: 35px;
            }
        }
        .working{
            width: 450px;
            order: 1;
        }
    }

    .part-two{
        margin-left: 1rem;
        background-image: url("../img/bg-shorten-mobile.svg");
        background-color: $Primary-color2;
        position: absolute;
        width: 340px;
        height: 200px;
        padding: 35px 20px;
        border-radius: 10px;
        margin-top: 70px;

        .shorten{
            font-size: large;
            width: 300px;
            height: 50px;
            padding-left: 10px;
            border-radius: 15px;
        }
        .part-two__btn{
            padding: 10px 20px;
            font-size: 30px;
            width: 280px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color:$Primary-color1;
            border: none;
            border-radius: 10px;
            margin-left:7px;
            margin-top: 1rem;
        }
    
    }
    .part-three{
        width: auto;
        padding-left: 1rem;
        padding-bottom: 10rem;
        margin-top:155px ;
        background-color: $Neutral-color1;
        .addnew{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            background-color: #fff;
            position: relative;
            width: 300px;
            height: 120px;
            padding: 20px 10px;
            border-radius: 10px;
            margin-top: 30px;
            margin-left: 1rem;
            .parg1{
                font-size: 15px;
                padding: 0px 15px;
            }
            .parg2{
                padding: 0px 15px;
                border: none;
                font-size: 15px;
                color:$Primary-color1;
            }
            .copy{
            padding: 5px 5px;
            font-size: 20px;
            width: 250px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color:$Primary-color1;
            border:none;
            border-radius: 10px;
            margin-top: 5px;
            }
            .copied{
            padding: 5px 5px;
            font-size: 20px;
            width: 250px;
            margin-top: 5px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color:$Neutral-color3;
            border: none;
            border-radius: 10px;
            }
        }
        .up_part{
        width: 350px;
        padding-top:50px ;
        margin-left: 0px;
        margin-bottom: 50px;
        text-align: center;
        .headp3{
        font-size: 30px;
        }
        .supp3{
            margin-top: 20px;
            font-size: 25px;
            color: $Neutral-color2;
        }
    }
    .down_part{
        display: flex;
        flex-flow: column;
        font-size: 18px;
        margin-left: 10px;
        .new1{
            border-top:0.5em solid $Primary-color1;
            left: 47.46rem;
            width: 95px;
            position: relative;
            top:10rem;
            border-radius: 10px;
            visibility: hidden;
        }
        .new2{
            border-top:0.5em solid $Primary-color1;
            left: 20.8rem;
            width: 95px;
            position: relative;
            top:9.5rem;
            border-radius: 10px;
            visibility: hidden;
        }
        .raond_img1{
            background-color: $Neutral-color3;
            position: absolute;
            margin-left:120px;
            margin-top: 10px;
            border-radius: 50%;
            padding:15px 17px;
            height:75px;
            width:75px;
            .pic_box{
                position:relative;
            }
        }
        .box1{
            background-color:white;
            width: 320px;
            height:200px;
            padding:50px 20px;
            margin-top:30px;
            border-radius: 4%;
            text-align:left;
            float:left;
            h4{
                font-size: 25px;
                margin-bottom: 15px;
            }
        }
        .raond_img2{
            background-color: $Neutral-color3;
            position: absolute;
            margin-left:120px;
            margin-top: 290px;
            border-radius: 50%;
            padding:17px 17px;
            height:75px;
            width:75px;
            .pic_box{
                position:relative;
            }
        }
        .box2{
            background-color:white;
            width: 320px;
            height:200px;
            padding:50px 20px;
            margin-top:100px;
            margin-right:120px;
            border-radius: 4%;
            text-align:left;
            float:left;
            h4{
                font-size: 25px;
                margin-bottom: 10px;
                margin-top: 00px;
            }
            
        }
        .raond_img3{
            background-color: $Neutral-color3;
            position: absolute;
            margin-left:120px;
            margin-top: 590px;
            border-radius: 50%;
            padding:13px 13px;
            height:75px;
            width:75px;
            .pic_box{
                position:relative;
            }
        }
        .box3{
            background-color:white;
            width: 320px;
            height:200px;
            padding:50px 20px;
            margin-top:100px;
            border-radius: 4%;
            text-align:left;
            float:left;
            h4{
                font-size: 25px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            
        }
    }
    }
    .part-four{
        text-align: center;
        background-image: url('../img/bg-boost-mobile.svg');
        background-color: $Primary-color2;
    h3{
        padding-top: 60px;
        padding-bottom: 10px;
        font-size: 45px;
        color: white;
    }
    .part-four__btn{
        padding: 15px 20px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color:$Primary-color1;
        border: none;
        border-radius: 30px;
        margin-left:20px;
        margin-bottom:20px;
    }
    }
    }
    .foo{
        background-color: $Neutral-color4;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        color:#fff;
        text-align: center;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
            .icon-logo{
                padding-bottom: 20px;
                filter: invert(255%) sepia(255%) saturate(255%) hue-rotate(346deg) brightness(255%) contrast(97%);

    }
    ul{
        list-style-type:none;
        padding-bottom: 20px;
        padding-top: 10px;
        li{
            padding: 10px;
        }
    }
    }}
